/* Members
=======================================*/
/*.members-view:first-child .container:first-child .profile:first-child {
	border-top: none;
}*/
.members-view {
	margin-top: 10%;
}

.members-view .page-heading {
	margin-bottom: 5%;
}

.profile {
	padding: 2% 0%;
	border-top: 1px solid #212224;
}

.profile .profile-pic {
	padding: 0;
}

.profile-img {
    width: 80%;
    border-radius: 100%;
}

.profile-img-sm {
	width: 30%;
}

.profile-img-xs {
	width: 100px;
	height: 100px;
}

.profile h3 { /* name */
 	margin: 0;
}

.profile h5 { /* major/minor */
	margin-top: 1%;
	margin-bottom: 0;
}

.profile .contact-info {
	margin-top: 4%;
}

.prifile .member-email {

}

.profile .member-skills {

}



