<div class="members-view">
	<!-- <input type="text" ng-model="member.name">
	<input type="text" ng-model="member.email">

	<div class="greeting">
		<span>Hello, {{ member.name }}!</span>
		<div ng-show="hasValidEmail(member)">You have a valid email</div>
		<div ng-show="!hasValidEmail(member)">You <strong>don't</strong> have a valid email</div>
	</div> -->

	<div class="container">
		<div class="profile">
			<div class="member-picture">picture</div>    
			<div class="memeber-name">name</div>
			<div class="member-major">major</div>
			<div class="member-email">email</div>
			<div class="member-skills">skills</div>
		</div>
	</div>

</div>