/* Members
=======================================*/
/*.members-view:first-child .container:first-child .profile:first-child {
	border-top: none;
}*/
.members-view {
	margin-top: 120px;
}

.profile {
	padding: 1% 0%;
	margin: 0 7%;
	border-top: 1px solid #212224;
	/*border-bottom: 1px solid #212224;*/
}

.profile .profile-img {
    width: 80%;
    border-radius: 100%;
}

.profile h3 { /* name */
 	margin: 0;
}

.profile h5 { /* major/minor */
	margin-top: 1%;
	margin-bottom: 0;
}

.profile .contact-info {
	margin-top: 4%;
}

.prifile .member-email {

}

.profile .member-skills {

}



