/* main.css */

/*************************************/
/*        Main Page        */
/*************************************/

body {
    font-family: Helvetica;
}

div.navigation{
    background-color: #212224;
    height: 100px;
}

div.navigation li {
    display: inline;
}

div.navigation a {
    color: #fff;
}

div.navigation a:hover {
  text-decoration: none;
  color: #79BC94;
}

header {
    text-align: left;
    color: #fff ;
    background-color: #212224;
    height: 800px;  
}

header .intro-text {
    padding-top: 200px;
    padding-bottom: 50px;
}

header .intro-text .subtitle {
    font-size: 24px;
}

header .intro-text .title {
    font-family: Helvetica;
    font-size: 72px;
}

#about {
  height: 300px;
}

#announcements {
  height: 500px;
  background-color: #79BC94;
}

#events {
  height: 800px;
}

#projects {

}

.green-top {
  height: 200px;
  width: 100%;
  background-color: #599273;
  position: absolute;
  left: 0;
}

div.container .albums {
  margin-top: 65px;
}

div.container .albums img {
  width: 240px;
  height: auto;
  margin-bottom: 45px;
  border: 10px solid white;
}

div.container .albums #albumRow .img-circle-container {
  width: 230px;
  height: 230px;
  display: inline-block;
  margin: 20px;
}

div.container .albums #albumRow .img-bg {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  border: 10px solid white;
  background-image: url("http://placehold.it/210x210");
}

#hackNIght {
  height: 800px;
}

#members {
  height: 800px;
}

#contact {
  height: 800px;
}

div.footer {
    height: 100px;
  background-color: #212224;
}









