@import url('http://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,100,300,700');

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: "Open Sans";
    font-weight: 200;
    margin: 0 0 100px; /* bottom is height of footer */
}

.btn-primary {
    text-transform: uppercase;
    font-family: Montserrat, Helvetica;
    font-size: 18px;
    font-weight: 400;
    background-color: #79BC94;
    color: #fff;
    border: 1px solid #79BC94;
    border-radius: 4em;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
    color: #79BC94;
    background-color: #fff;
    border-color: #79BC94;
}

.btn-large {
    width: 150px;
    height: 60px;
    margin-top: 20px;
}

.btn-small {
    margin-top: 0;
    line-height: 10px;
    height: 10%;
    width: 150%;
}

.btn-invert {
    margin-left: 20px;
    color: #79BC94;
    background-color: #fff;
    border-color: #79BC94;
}

.btn-invert:hover {
    font-weight: bold;
}

header {
    background: url('/images/circuitBoard-01.png');
    background-size: cover;
    text-align: center;
    /*color: #212224;*/
    background-color: #fff;
    height: 100%;
}

header .intro-text .subtitle {
    padding-top: 230px;
    padding-bottom: 10px;
    font-family: Montserrat, Helvetica;
    font-weight: 400;
    font-size: 24px;
}

header .intro-text .title {
    margin-bottom: 25px;
    text-transform: uppercase;
    font-family: Montserrat, Helvetica;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
}

header .join-button {
    margin-top: 90px;
    margin-bottom: 120px;
}

@media(min-width:768px) {
    header .intro-text .subtitle {
        font-size: 36px;
        font-weight: 400px;
    }

    header .intro-text .title{
        text-transform: uppercase;
        font-family: Montserrat, Helvetica;
        font-size: 75px;
        line-height: 75px;
    }
}

.nav {
    margin-top: 18px;
    float: right;
    margin-right: 4.5%;
}

div.navigation {
    background-color: #fff;
    height: 90px;
    z-index: 50; /* don't go above sweetalerts */
}

div.navigation li {
    display: inline;
}

div.navigation a {
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    color: #212224 !important;
}

div.navigation a:hover {
  text-decoration: none;
  color: #79BC94;
}

img.brand-small {
    width: 45%;
}

.section-heading {
    text-transform: uppercase;
    padding-top: 24px;
    padding-bottom: 24px;
    color: #212224;
}

.page-heading h1 {
    text-transform: uppercase;
    font-family: Montserrat, Helvetica;
    font-weight: 700;
    font-size: 50px;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    background-color: #212224;
}