html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: "Open Sans";
    font-weight: 200;
    margin: 0 0 100px; /* bottom is height of footer */
}

p {
    text-align: center;
    font-weight: 100;
    font-size: 24px;
    line-height: 45px;
}

.btn {
    width: 150px;
    height: 60px;
    margin-top: 20px;
    text-transform: uppercase;
    font-family: Montserrat, Helvetica;
    font-size: 18px;
    font-weight: 400;
    background-color: #79BC94;
    color: #fff;
    border: 1px solid #79BC94;
    border-radius: 4em;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active {
    color: #79BC94;
    background-color: #fff;
    border-color: #79BC94;
}

header {
    text-align: center;
    /*color: #212224;*/
    background-color: #fff;
    height: 100%;
}

header .intro-text .subtitle {
    padding-top: 230px;
    padding-bottom: 10px;
    font-family: Montserrat, Helvetica;
    font-weight: 400;
    font-size: 24px;
}

header .intro-text .title {
    margin-bottom: 25px;
    text-transform: uppercase;
    font-family: Montserrat, Helvetica;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
}

header .join-button {
    margin-top: 90px;
    margin-bottom: 120px;
}

@media(min-width:768px) {
    header .intro-text .subtitle {
        font-size: 36px;
        font-weight: 400px;
    }

    header .intro-text .title{
        text-transform: uppercase;
        font-family: Montserrat, Helvetica;
        font-size: 75px;
        line-height: 75px;
    }
}

.nav {
    margin-top: 18px;
}

div.navigation{
    background-color: #fff;
    height: 90px;
}

div.navigation li {
    display: inline;
}

div.navigation a {
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    color: #212224 !important;
}

div.navigation a:hover {
  text-decoration: none;
  color: #79BC94;
}

.section-heading {
    text-transform: uppercase;
    padding-top: 24px;
    padding-bottom: 24px;
    color: #212224;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    background-color: #212224;
}