/* main.css */

/*************************************/
/*        Main Page        */
/*************************************/

body {
    font-family: Helvetica;
}

.section-heading {
    text-transform: uppercase;
    padding-top: 24px;
    padding-bottom: 24px;
    color: #212224;
}

div.navigation{
    background-color: #212224;
    height: 100px;
}

div.navigation li {
    display: inline;
}

div.navigation a {
    color: #fff;
}

div.navigation a:hover {
  text-decoration: none;
  color: #79BC94;
}

.circle:before {
  content: '\25CF';
  font-size: 70px;
  color: #212224;
  -webkit-text-stroke: 1px white;
  line-height: 30px;
}

.circle:hover:before {
  color: #79BC94;
  -webkit-text-stroke: none;
}

header {
    text-align: left;
    color: #fff ;
    background-color: #212224;
    height: 800px;  
}

header .intro-text {
    padding-top: 200px;
    padding-bottom: 50px;
}

header .intro-text .subtitle {
    font-size: 24px;
}

header .intro-text .title {
    font-family: Helvetica;
    font-size: 72px;
}

#about {
  height: 300px;
}

#announcements {
  height: 500px;
  background-color: #599273;
}

#events {
  height: 800px;
}

#projects {
    padding-bottom: 100px;
}

#projects .projects-header {
    height: 0;
    padding-bottom: 39%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url("/images/projects_header.png")
}

#projects .green-top {
    height: 240px;
    width: 100%;
    background-color: #599273;
    position: absolute;
    left: 0;
}

#projects .project-container {
    margin-top: 105px;
}

#projects .albums img {
    width: 240px;
    height: auto;
    margin-bottom: 45px;
    border: 10px solid white;
}

#projects .project-container #projectRow .img-circle-container {
    width: 230px;
    height: 230px;
    display: inline-block;
    margin: 20px;
}

#projects .project-container #projectRow .img-bg {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    border: 10px solid white;
    background-image: url("http://placehold.it/210x210");
}

#projects .project-title {
    text-transform: uppercase;
}

#contact {
    padding-bottom: 24px;
}

#contact input {
    font-size: 18px;
}

#contact input:focus {
    outline: none;
    border-color: #79BC94;
    box-shadow: none;
}

#contact textarea {
    resize: none;
    font-size: 18px;
    height: 15em;
}

#contact textarea:focus {
    outline: none;
    border-color: #79BC94;
    box-shadow: none;
}

::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
    font-size: 16px;
}

#contact button {
    background-color: #79BC94;
    border-color: #79BC94;
    padding: 8px 30px;
}

footer {
    height: 100px;
    background-color: #212224;
}


/* Hack Nights
=======================================*/

.card {
    width: 320px;
    border: 1px solid transparent;
    margin: 20px 20px;
    border-radius: 15px;
}

.card .card-heading {
    background-color: #79BC94;
    height:120px;
}

.card .card-body {
    height: 370px;
    padding: 10px 15px;
    background-color: #fff;
}

.card .card-body .title {
    color: #79BC94;
    text-transform: uppercase;
}

.card .card-body .description {
    padding-top: 24px;
    padding-bottom: 24px;
}

.card .card-body ul {
    margin: 0;
    padding: 0;
}

.card .card-body .links {
    list-style: none;
}

.card .card-footer {
    height: 48px;
    color: #fff;
}

.card .card-footer button {
    width:100%;
    height:100%;
    color: #fff;
    background-color: #212224;
    border: none;
    text-decoration: none;
}

.card .card-footer button:hover {

}


/* Members
=======================================*/
.profile {
   
}

.profile .member-picture {
    background-image: url("http://placehold.it/210x210");
}

.profile .member-name {

}

.profile .member-major {

}

.prifile .member-email {

}

.profile .member-skills {

}
































