<div class="join-view">
	<div class="container">
	    <div class="page-heading text-center">
	        <h1>JOIN</h1>
	        <p>Please fill out your information below.</p>
	    </div>
	    <form class="join-form" role="form">
	        
	        <div class="join-field col-lg-12">
	        	<h4 class="join-label col-lg-2">YOUR NAME</h4>
		        <div class="first form-group right-field col-lg-5">
		            <input type="text" ng-model="member.first_name" class="form-control" placeholder="first name" ng-class="{'error': member.error.first_name}" popover-placement="top" popover="Required field" popover-trigger="show" popover-show="member.error.first_name">
		        </div>
		        <div class="last right-field form-group col-lg-5">
		        	<input type="text" ng-model="member.last_name" class="form-control" placeholder="last name" ng-class="{'error': member.error.last_name}" popover-placement="top" popover="Required field" popover-trigger="show" popover-show="member.error.last_name">
		        </div>
		    </div>

	        <div class="join-field col-lg-12">
	        	<h4 class="join-label col-lg-2">YOUR EMAIL</h4>
		        <div class="right-field form-group col-lg-10">
		            <input type="text" ng-model="member.email" class="form-control" placeholder="email address" ng-class="{'error': member.error.email}" popover-placement="top" popover="{{member.error.emailText}}" popover-trigger="show" popover-show="member.error.email">
		        </div>
		    </div>

	        <div class="join-field col-lg-12" ng-hide="hidePasswords">
	        	<h4 class="join-label col-lg-2" popover-placement="bottom" popover="Required field. Make sure they match!" popover-trigger="show" popover-show="password.error">PASSWORD</h4>
		        <div class="password-field form-group right-field  col-lg-5">
		            <input type="password" ng-model="password.one" class="form-control" placeholder="password" ng-class="{'error': password.error}">
		        </div>
		        <div class="password-field right-field form-group col-lg-5">
		            <input type="password" ng-model="password.two" class="form-control" placeholder="verify password" ng-class="{'error': password.error}">
		        </div>
		    </div>

            <div class="join-field col-lg-12">
            	<h4 class="join-label col-lg-2">GRADUATION YEAR</h4>
    	        <div class="right-field form-group col-lg-10">
    	            <select class="form-control right-field input-lg"
    	            	ng-model="member.grad_year"
    	            	ng-options="year for year in years" ng-class="{'error': member.error.grad_year}" popover-placement="top" popover="Required field" popover-trigger="show" popover-show="member.error.grad_year">
    	                <option value="">Select One</option>
    	            </select>
    	        </div>
    	    </div>


		    <div class="join-field col-lg-12">
	        	<h4 class="join-label col-lg-2">MAJOR</h4> 
		        <div class="right-field form-group col-lg-10">
		            <select class="form-control right-field input-lg"
		            	ng-model="member.major"
		            	ng-options="fieldOfStudy.id as fieldOfStudy.name for fieldOfStudy in fieldOfStudies" ng-class="{'error': member.error.major}" popover-placement="top" popover="Required field" popover-trigger="show" popover-show="member.error.major">
		                <option value="">Select One</option>
		            </select>
		        </div>
		    </div>

		    <div class="join-field col-lg-12">
	        	<h4 class="join-label col-lg-2">MINOR</h4>
		        <div class="right-field form-group col-lg-10">
		            <select class="minor-dropdown form-group col-lg-10 form-control right-field input-lg"
		            ng-model="member.minor"
		            ng-options="fieldOfStudy.id as fieldOfStudy.name for fieldOfStudy in fieldOfStudies">
		                <option value="">None</option>
		            </select>
		        </div>
	        </div>

	        <div class="join-field col-lg-12">
	        	<h4 class="join-label col-lg-2">PICTURE</h4>
		        <div class="profile-picture form-group col-lg-10">
		        	<img ng-show="!member.profile_picture" src="/images/avatar_blank.png">
		        	<img ng-show="member.profile_picture" ng-src="{{member.profile_picture}}" class="profile-img profile-img-xs">
		        	<button class="btn btn-default select-pic" ng-click="showPictureModal()">Select Picture</button>	
		        </div>
	        </div>

	        <div class="join-field col-lg-12">
	        	<h4 class="join-label col-lg-2">YOUR SKILLS</h4>
		        <div class="skills form-group right-field col-lg-10">
		            <div>
		                <label class="checkbox-inline" ng-repeat="skill in skills"><input type="checkbox" ng-model="member.skills[skill.id]">{{skill.name}}</label>
		            </div>
		            </div>
	        	</div>
	        </div>
	    
	    </form> 
	    <div class="col-sm-12 text-center">
	        <button class="btn btn-primary btn-large" ng-click="submit(member, password)">Submit</button>
	    </div>

	</div>
</div>
