.join-view {
    margin-top: 120px;
}

.join-view p {
    color: #79BC94;
    font-size: 24px;
}

.join-form {
    margin: 30px;
}

.join-field {
    /*border-top: 1px solid #CCCCCC;*/
    padding-top: 2%;
    padding-bottom: 1%;
    padding-left: 0;
    padding-right: 0;
}

.right-field {
    padding-right: 0;
}

.join-label {
    padding-left: 0;
}

.join-label {
    font-size: 18px;
    color: #79BC94;
    padding-left: 0;
}

.join-form .profile-picture img {
    border-radius: 100%;
}

.join-form .form-control {
    /*border-radius: 20px;*/
    height: 40px;
    /*margin-top: 20px;*/
}

.join-form label {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 12px;
}

.join-form .checkbox-inline {
    /*font-size: 50px;*/
}

.join-view .btn-primary {
    margin-bottom: 120px;
}

.join-view input.error,
.join-view select.error {
    border-color: #EE7878 !important;
    border-width: 2px;
}

.join-view input:focus {
    outline: none;
    border-color: #79BC94;
    box-shadow: none;
}

.join-view section {
    padding: 0 !important;
}