<div class="join-view">
	<div class="container">
	    <div class="page-header text-center">
	        <h1>JOIN</h1>
	    </div>
	    <form class="join-form" role="form">
	        
	        <div class="container name-field">
	        	<div class="join-label col-lg-2">
	        		<h4>YOUR NAME</h4>
	        	</div>
		        <div class="first-name-field form-group col-lg-4">
		            <input type="text" ng-model="firstName.text" class="form-control">
		        </div>
		        <div class="last-name-field form-group col-lg-4">
		        	<input type="text" ng-model="lastName.text" class="form-control">
		        </div>
		    </div>
	        <div class="container name-field">
	        	<div class="name-label col-lg-2">
	        		<h4>YOUR EMAIL</h4>
	        	</div>
		        <div class="email-field form-group col-lg-8">
		            <input type="text" ng-model="email.text" class="form-control">
		        </div>
		    </div>
	        <div class="container name-field">
	        	<div class="name-label col-lg-2">
	        		<h4>PASSWORD</h4>
	        	</div>
		        <div class="password-field form-group col-lg-4">
		            <input type="text" ng-model="password.text" class="form-control">
		        </div>
		           <div class="password-field form-group col-lg-4">
		            <input type="text" ng-model="password.text" class="form-control">
		        </div>
		      </div>
		    <div class="container name-field">
		    	<div class="name-label col-lg-2">
	        		<h4>MAJOR</h4>
	        	</div>  
		        <div class="major-dropdown form-group col-lg-8">
		            <select class="form-control input-lg">
		                <option value="null">Select One</option>
		                <option value="electricalEngineering">Electrical Engineering</option>
		                <option value="mechanicalEngineering">Mechanical Engineering</option>
		                <option value="computerEngineering">Computer Engineering</option>
		                <option value="computerScience">Computer Science</option>
		                <option value="other">Other</option>
		            </select>
		        </div>
		    </div>
		    <div class="container name-field">
		    	<div class="name-label col-lg-2">
	        		<h4>MINOR</h4>
	        	</div>
		        <div class="minor-dropdown form-group col-lg-8">
		            <select class="form-control input-lg">
		                <option value="null">Select One</option>
		                <option value="null">None</option>
		                <option value="computerScience">Computer Science</option>
		                <option value="mathematics">Mathematics</option>
		            </select>
		        </div>
	        </div>
	        <div class="container name-field">
	        	<div class="name-label col-lg-2">
	        		<h4>PROFILE PICTURE</h4>
	        	</div>
		        <div class="profile-picture form-group col-lg-8">
		             <label>PROFILE PICTURE</label>
		        </div>
	        </div>
	        <div class="container name-field">
		        <div class="skills form-group col-lg-8">
		            <div>
		                <label class="checkbox-inline"><input type="checkbox" name="python">Arduino</label>
		                <label class="checkbox-inline"><input type="checkbox" name="Arduino">Raspberry Pi</label>
		                <label class="checkbox-inline"><input type="checkbox" name="Raspberry pi">Digital Logic</label>
		                <label class="checkbox-inline"><input type="checkbox" name="Raspberry pi">Analog Circuitry</label>
		            </div>
		            <div>
		                <label class="checkbox-inline"><input type="checkbox" name="Raspberry pi">Python</label>
		                <label class="checkbox-inline"><input type="checkbox" name="Raspberry pi">C/C++</label>
		                <label class="checkbox-inline"><input type="checkbox" name="Raspberry pi">Android</label>
		                <label class="checkbox-inline"><input type="checkbox" name="Raspberry pi">iOS</label>
		            </div>
	        	</div>
	        </div>
	    
	    </form> 
	    <div>
	        <button class="btn btn-primary btn-large">Submit</button>
	    </div>

	</div>
</div>
