/* Hack Nights
=======================================*/

.card {
    width: 320px;
    border: 1px solid transparent;
    margin: 20px 20px;
    border-radius: 15px;
}

.card .card-heading {
    background-color: #79BC94;
    height:120px;
}

.card .card-body {
    height: 370px;
    padding: 10px 15px;
    background-color: #fff;
}

.card .card-body .title {
    color: #79BC94;
    text-transform: uppercase;
}

.card .card-body .description {
    padding-top: 24px;
    padding-bottom: 24px;
}

.card .card-body ul {
    margin: 0;
    padding: 0;
}

.card .card-body .links {
    list-style: none;
}

.card .card-footer {
    height: 48px;
    color: #fff;
}

.card .card-footer button {
    width:100%;
    height:100%;
    color: #fff;
    background-color: #212224;
    border: none;
    text-decoration: none;
}

.card .card-footer button:hover {

}