<div class="hack-nights-view">

	<div class="page-heading container text-center">
		<h1>HACK NIGHTS</h1>
	</div>

	<div class="container search">
		<div class="col-xs-12 col-sm-6 col-sm-offset-6 col-md-4 col-md-offset-8">
			<div class="input-group">
				<div class="input-group-addon"><i class="fa fa-search"></i></div>
				<input type="text" class="form-control" placeholder="Search" ng-model="searchByHackNight">
			</div>
		</div>
	</div>

	<div class="container cards">
		<div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="hackNight in hackNights | byHackNight:searchByHackNight">
			<div class="card">
				<div class="card-heading">
					<p class="date">{{ hackNight.date }}</p>
					<h3 class="title">{{ hackNight.title }}</h3>
				</div>
				<div class="card-body">
					<div class="presenter">
						<img ng-src="{{hackNight.presenter.profile_picture}}" class="profile-img">
						<h4 class="presenter-name">{{ hackNight.presenter.full_name }}</h4>
					</div>
					<p class="description">{{ hackNight.description }}</p>
					<ul class="links">
						<li>
							<i class="fa fa-github"></i>&nbsp;
							<a ng-href="{{hackNight.repo}}">{{ hackNight.repo }}</a>
						</li>
						<li>
							<i class="fa fa-tags"></i>
							<ul class="tags">
								<li ng-repeat="tag in hackNight.tags">
									<a href="javascript:void(0)" ng-click="showTag(tag)">{{ tag }}</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="card-footer">
					<a href="javascript:void(0);" ng-click="showMore(hackNight)">View More</a>
				</div>
			</div>
		</div>
	</div>
</div>