/* Hack Nights
=======================================*/

.hack-nights-view {
    margin-top: 120px;
}

.search {
    margin-top: 1%;
    padding: 0;
}

.cards {
    padding: 1% 0;
}

.card {
    width: 100%;
    position: relative;
    border: 1px solid transparent;
    margin: 4% 0;
    border-radius: 15px;
}

.card .card-heading {
    background-color: #79BC94;
    height: 120px;
}

.card .card-body .presenter-info .presenter-img {
    float: left;
    width: 28%;
    border-radius: 100%;
    margin-top: 7%;
}

.card .card-body .presenter-info .presenter-name {
    float: left;
    line-height: 3.8em;
    margin-top: 7%;
    margin-left: 5%;
    font-size: 20px;
}

.card .card-body {
    height: 395px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #fff;
}

.card .card-body p {
    margin-top: 5%;
    margin-bottom: 1%;
    font-size: 14px;
}

.card .card-heading .title {
    color: #fff;
    text-transform: uppercase;
    margin: 0;
    font-family: 'Montserrat', Helvetica;
    padding-left: 5%;
}

.card .card-heading .date {
    margin: 0;
    color: #fff;
    padding-top: 15%;
    padding-left: 5%;
}

.card .card-body .description {
    padding-top: 7%;
    padding-bottom: 10%;
    font-size: 18px;
}

.card .card-body ul {
    margin: 0 0 7% 0;
    padding: 0;
    list-style: none;
}

.card .links li {
    margin-bottom: 2.5%;
}

.card .card-body .tags {
    display: inline;
}

.card .card-body .tags li {
    display: inline;
}

.card .card-body .tags li::after {
    content: ",";
}

.card .card-body .tags li:last-child::after {
    content: "";
}

.card .card-body .tags li a {
    margin-right: -1%;
}

.card .card-footer {
    height: 48px;
    color: #fff;
}

.card .card-footer a {
    display: inline-block;
    text-align: center;
    line-height: 48px; /* same as .card-footer */
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: #212224;
    text-decoration: none;
    cursor: pointer;
}

.card .card-footer a:hover {
    color: #A5DBBB;
}