section {
    padding: 200px 0 0 0;
}

.section-heading {
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    font-family: Montserrat, Helvetica;
    margin-bottom: 40px;
}

#about {
    padding-top: 200px;
    padding-bottom: 200px;
}

#about .about-icons {
    text-align: center;
    margin-bottom: 3%;
}

#about img.about-icon {
    margin-right: 5%;
}

#about p {
    text-align: center;
    font-weight: 100;
    font-size: 24px;
    line-height: 45px;
}

#announcements {
    /*background-color: #79BC94;*/
}

#announcements .announcement {
    border-bottom: 1px solid #212224;
    padding: 2% 0 2% 0;
}

#announcements .day {
    text-align: center;
    font-family: Montserrat, Helvetica;
    font-weight: 700;
    font-size: 65px;
    margin-bottom: 0;
    margin-top: 0;
}

#announcements .month {
    text-align: center;
    font-size: 21px;
}

#announcements .annoucement-body .title {
    font-family: Montserrat, Helvetica;
    font-weight: 700;
    font-size: 24px;
}

#announcements .text {
    font-size: 21px;

}

#events {

}
/*
#projects {
    padding-bottom: 100px;
}*/

#byu-image {
    height: 0;
    padding-bottom: 26%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url("/images/projects_header.png");
}

#projects .green-top {
    height: 240px;
    width: 100%;
    background-color: #599273;
    position: absolute;
    left: 0;
}

#projects .project-container {
    margin-top: 105px;
}

#projects .albums img {
    width: 240px;
    height: auto;
    margin-bottom: 45px;
    border: 10px solid white;
}

#projects .project-container #projectRow .img-circle-container {
    width: 230px;
    height: 230px;
    display: inline-block;
    margin: 20px;
}

#projects .project-container #projectRow .img-bg {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    border: 10px solid white;
    background-image: url("http://placehold.it/210x210");
}

#projects .project-title {
    text-transform: uppercase;
}

#contact {
    padding-bottom: 24px;
}

#contact input.error,
#contact textarea.error {
    border-color: #EE7878 !important;
    border-width: 2px;
}

#contact input {
    font-size: 18px;
}

#contact input:focus,
#contact textarea:focus {
    outline: none;
    border-color: #79BC94;
    box-shadow: none;
}

#contact textarea {
    resize: none;
    font-size: 18px;
    height: 15em;
}

::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
    font-size: 16px;
}

/*#contact button {
    background-color: #79BC94;
    border-color: #79BC94;
    padding: 8px 30px;
}*/
