<div class="main-view">
   
    <section id="about">
        <div class="container">
             <div class="col-lg-12 text-left">
                    <h2 class="section-heading">ABOUT</h2>
            </div>
            <div class="about-icons container">
                <div class="col-sm-4 col-xs-12">
                    <img class="about-icon" src="images/mechanical-icon.png">
                </div>
                <div class="col-sm-4 col-xs-12">
                    <img class="about-icon" src="images/electrical-icon.png">
                </div>
                <div class="col-sm-4 col-xs-12">
                    <img class="about-icon" src="images/computer-icon.png">
                </div>
            </div>
            <div class="col-lg-10 col-lg-offset-1">
                <p class-"about-text">
                    The BYU Mechatronics Club aims to help fill the need of a multi-disciplinary education that is needed in industry today. Our organization helps to empower students from a variety of backgrounds by providing them with a broad range of engineering and technical skills not offered by any single department; including an understanding of mechanical design, microcontrollers, programming, modeling, prototyping, etc.<br>All are welcome to attend&mdash;come build cool things with us.
                </p>
            </div>
        </div>
    </section>

    <section id="byu-image">
        <div class="byu-image container"></div>
    </section>

    <!--Announcements Section -->
    <section id="announcements">
        <div class="container">
            <div class="col-lg-12 text-left">
                <h2 class="section-heading">ANNOUNCEMENTS</h2>
            </div>
            <div ng-if="!announcements" class="announcement-empty">There aren't any announcements posted :(</div>
            <div class="announcement container col-lg-12" ng-repeat="announcement in announcements" ng-class="{'announcement-passed': announcement.has_passed}">
                <div class="annoucement-date col-lg-1">
                    <h1 class="day">{{ announcement.day }}</h1>
                    <p class="month">{{ announcement.month }}</p>
                </div>
                <div class="container col-lg-1">.</div>
                <div class="annoucement-body col-lg-10">
                    <h4 class="title">{{ announcement.title }}</h4>
                    <p class="text" ng-bind-html="announcement.short_description"></p>
                </div>
            </div>
        </div>
    </section>

    <!-- Projects Section -->
    <section id="projects" ng-hide="true">
        <div class="container">
            <div class="green-top">
                <div class="col-lg-12 text-left">
                    <h2 class="section-heading">PROJECTS</h2>
                </div>
            </div>
            <div class="container project-container">
                <div id="projectRow" class="row text-center">
                     <div class='col-md-4 col-sm-4 col-xs-12'>
                        <div class='img-circle-container'>
                            <div class='img-bg'>
                                <!-- img-bg's background-image is set in the css -->
                            </div>
                        </div>
                    </div>
                    <div class='col-md-4 col-sm-4 col-xs-12'>
                        <div class='img-circle-container'>
                            <div class='img-bg'>
                                <!-- img-bg's background-image is set in the css -->
                            </div>
                        </div>
                    </div>
                    <div class='col-md-4 col-sm-4 col-xs-12'>
                        <div class='img-circle-container'>
                            <div class='img-bg'>
                                <!-- img-bg's background-image is set in the css -->
                            </div>
                        </div>
                    </div>
                    <div class="project-information">
                        <div class='col-md-4 col-sm-4 col-xs-12'>
                            <h3 class="project-title">PROJECT TITLE</h3>
                        </div>
                        <div class='col-md-4 col-sm-4 col-xs-12'>
                            <h3 class="project-title">PROJECT TITLE</h3>
                        </div>
                        <div class='col-md-4 col-sm-4 col-xs-12'>
                            <h3 class="project-title">PROJECT TITLE</h3>
                        </div> 

                        <div class='col-md-4 col-sm-4 col-xs-12'>
                            <p class="project-description">Project Description</p>
                        </div>
                        <div class='col-md-4 col-sm-4 col-xs-12'>
                            <p class="project-description">Project Description</p>
                        </div>
                        <div class='col-md-4 col-sm-4 col-xs-12'>
                            <p class="project-description">Project Description</p>
                        </div>
                    </div>
                </div>
            </div>             
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="col-lg-12 text-left">
                <h2 class="section-heading">CONTACT US</h2>
            </div>

            <div class="fluid-container">

                <div class="col-md-6 form-group">
                    <input type="text" class="form-control" placeholder="name" ng-model="contact.name" ng-class="{'error': contact.error.name}" popover-placement="top" popover="You didn't tell us who you are :/" popover-trigger="show" popover-show="contact.error.name">
                </div>

                <div class="col-md-6 form-group">
                    <input type="text" class="form-control" placeholder="email" ng-model="contact.email" ng-class="{'error': contact.error.email}" popover-placement="top" popover="Don't you want us to send a message back?" popover-trigger="show" popover-show="contact.error.email">
                </div>

            </div>

            <div class="fluid-container">
                <div class="col-md-12 form-group">
                    <textarea class="form-control" placeholder="message, complaints, accusations, etc" ng-model="contact.message" ng-class="{'error': contact.error.message}" popover-placement="bottom" popover="Don't be shy, send us a message!" popover-trigger="show" popover-show="contact.error.message"></textarea>
                </div>
            </div>
            <div class="fluid-container">
                <div class="col-md-12 form-group">
                    <button class="btn btn-primary btn-large pull-right" ng-click="sendContact(contact)">Send</button>
                </div>
            </div>
    </section>
</div>