<div class="hack-nights-view">
	<div class="container" >
		<div class="col-xs-12 col-sm-4">
			<div class="card">
				<div class="card-heading"></div>
				<div class="card-body">
					<h3 class="title">hack night title</h3>
					<h4 class="presenter">Parker Lusk</h4>
					<p class="date">08/30/14</p>
					<p class="description">Pellentesque cursus nulla eget magna blandit, ac accumsan enim commodo. Sed a mollis arcu. Maecenas elementum nec nisi in dictum. Phasellus lacinia, mauris dictum dictum luctus, nisl magna efficitur velit.</p>
					<ul class="links">
						<li>link</li>
						<li>link</li>
						<li>link</li>
					</ul>
				</div>
				<div class="card-footer">
					<button>View More</button>
				</div>
			</div>
		</div>
	</div>

	<div class="container" >
		<div class="col-xs-12 col-sm-4">
			<div class="card">
				<div class="card-heading"></div>
				<div class="card-body">
					<h3 class="title">hack night title</h3>
					<h4 class="presenter">Parker Lusk</h4>
					<p class="date">08/30/14</p>
					<p class="description">Pellentesque cursus nulla eget magna blandit, ac accumsan enim commodo. Sed a mollis arcu. Maecenas elementum nec nisi in dictum. Phasellus lacinia, mauris dictum dictum luctus, nisl magna efficitur velit.</p>
					<ul class="links">
						<li>link</li>
						<li>link</li>
						<li>link</li>
					</ul>
				</div>
				<div class="card-footer">
					<button>View More</button>
				</div>
			</div>
		</div>
	</div>

	<div class="container" >
		<div class="col-xs-12 col-sm-4">
			<div class="card">
				<div class="card-heading"></div>
				<div class="card-body">
					<h3 class="title">hack night title</h3>
					<h4 class="presenter">Parker Lusk</h4>
					<p class="date">08/30/14</p>
					<p class="description">Pellentesque cursus nulla eget magna blandit, ac accumsan enim commodo. Sed a mollis arcu. Maecenas elementum nec nisi in dictum. Phasellus lacinia, mauris dictum dictum luctus, nisl magna efficitur velit.</p>
					<ul class="links">
						<li>link</li>
						<li>link</li>
						<li>link</li>
					</ul>
				</div>
				<div class="card-footer">
					<button>View More</button>
				</div>
			</div>
		</div>
	</div>

</div>