<div>
<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="subtitle">BYU</div>
            <div class="title">Mechatronics</div>
        </div>
    </div>
</header>

 <!-- Navigation -->
<nav>
    <div class="navigation">
        <div class="line-parent-wrapper" style="
            position: relative;
        ">
          <div class="line-parent" style="
            /* position: relative; */
            position: absolute;
            right: 1220px;
        ">
                        <div style="
            border-top: 1px solid white;
            position: absolute;
            width: 145px;
            transform: rotate(40deg);
            left: -29px;
        "></div>
                      <div style="
            position: absolute;
            border-top: 1px solid white;
            width: 400px;
            left: 99px;
            top: 47px;
        "></div>
                      <div style="
            position: absolute;
            left: 485px;
            /* border-top: 1px solid white; */
            width: 10%;
            top: 27px;
        " class="circle"></div>
          </div>
          </div>
        <ul>
            <li class="hidden">
                <a href="#home"></a>
            </li>
            <li>
                <a href="#events">EVENTS</a>
            </li>
            <li>
               <a href="#projects">PROJECTS</a>
            </li>
            <li>
              <a href="#/hack-nights">HACK NIGHTS</a>
            </li>
            <li>
                <a href="#/members">MEMBERS</a>
            </li>
            <li>
                <a href="#contact">CONTACT</a>
            </li>
        </ul>
    </div>
</nav>
</div>