<header>
	<!-- Landing Page Header - only show if main page -->
    <div id="landing-page-header" class="container" ng-if="$state.includes('app.main')">
        <div class="intro-text">
            <div class="subtitle">BYU</div>
            <div class="title">Mechatronics</div>
            <div class="join-button col-lg-6 col-lg-offset-3 text-center">
                <button type="submit" class="btn btn-primary btn-large">Join
                    
                </button>
            </div>
        </div>
    </div>

    <!-- Navigation - always show -->
    <nav>
        <div class="navigation navbar-default navbar-fixed-top">
            <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top">
                    <!-- <img src="images/mechatronics-logo.png"> -->
                </a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="brand" ng-if="!$state.includes('app.main')">
                        <a ui-sref="app.main">M</a>
                    </li>
                    <li>
                      <a ui-sref="app.hack-nights">HACK NIGHTS</a>
                    </li>
                    <li>
                        <a ui-sref="app.members">MEMBERS</a>
                    </li>
                     <li>
                        <a ui-sref="app.join" class="btn btn-primary btn-small">JOIN</a>
                    </li>
                </ul>
        </div>
    </nav>
</header>

<!-- Main app content goes here -->
<div ui-view></div>

<!-- Footer - always show -->
<footer>
	<div class="container">
	    <span class="author"></span>
	</div>
</footer>