<header>
	<!-- Landing Page Header - only show if main page -->
    <div id="landing-page-header" class="container" ng-if="$state.includes('app.main')">
        <div class="intro-text">
            <div class="subtitle">BYU</div>
            <div class="title">Mechatronics</div>
            <div class="join-button col-lg-6 col-lg-offset-3 text-center">
                <button class="btn btn-primary btn-large" ng-click="join()">Join</button>
                <button class="btn btn-primary btn-large btn-invert" ng-click="slack()">Slack</button>
                <button class="btn btn-primary btn-large btn-invert" ng-click="payDues()">Pay Dues</button>
            </div>
        </div>
    </div>

    <!-- Navigation - always show -->
    <nav>
        <div class="navigation navbar-default navbar-fixed-top">
            <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="app.main" ng-if="!$state.includes('app.main')">
                    <img src="images/mechatronics-logo-xs.png" class="brand-small" alt="BYU Mechatronics Home">
                </a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                      <a href="" ng-click="announcements()">ANNOUNCEMENTS</a>
                    </li>
                    <li>
                      <a ui-sref="app.hack-nights">HACK NIGHTS</a>
                    </li>
       <!--              <li>
                        <a ui-sref="app.members">MEMBERS</a>
                    </li> -->
                     <li>
                        <a href="javascript:void(0)" ng-click="join()" class="btn btn-primary btn-small">JOIN</a>
                    </li>
                </ul>
        </div>
    </nav>
</header>

<!-- Main app content goes here -->
<div ui-view></div>

<!-- Footer - always show -->
<footer>
	<div class="container">
	    <span class="author"></span>
	</div>
</footer>
